.grid {
    position: absolute;
    width: 560px;
    height: 300px;
    border: solid black 1px;
    margin-top: 80px;
}

.block, .user{
    position: absolute;
    width: 100px;
    height: 20px;
    background-color: blue;
}

.user {
    background-color: purple;
}

.ball {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background-color: red;
}